* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  font-size: 20px;
  width: 100%;
}
body,
input,
textarea,
select,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th.td,
tr,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  resize: none;
}
body {
  width: 100%;
  font-size: 0.7rem;
}
input,
textarea,
select {
  border: 0;
}
a:active,
a:hover {
  outline-width: 0;
}
.clear {
  content: " ";
  display: block;
  clear: both;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
.border {
  border: 1px solid #000;
}
#header {
  width: 100%;
  height: 3.6rem;
  color: #fff;
  background-color: #383c3c;
}
#header:after {
  content: " ";
  display: block;
  clear: both;
}
#header div.header-float_lf {
  font-size: 0.8rem;
  width: 60%;
  float: left;
  height: 3.6rem;
}
#header div.header-float_lf ul {
  height: 3.6rem;
  overflow: hidden;
}
#header div.header-float_lf ul:after {
  content: " ";
  display: block;
  clear: both;
}
#header div.header-float_lf ul li {
  float: left;
  margin-left: 2.8%;
  line-height: 3.6rem;
}
#header div.header-float_rt {
  font-size: 0.7rem;
  float: right;
  width: 20%;
  height: 3.6rem;
}
#header div.header-float_rt ul {
  height: 3.6rem;
}
#header div.header-float_rt ul:after {
  content: " ";
  display: block;
  clear: both;
}
#header div.header-float_rt ul li {
  float: left;
  margin-left: 1.4%;
  line-height: 3.6rem;
}
#header div.header-float_rt ul li:nth-child(3) {
  margin-left: 3.5%;
}
#article {
  background-color: #F5F5F5;
}
#article:after {
  content: " ";
  display: block;
  clear: both;
}
#article #affix {
  background-color: #fff;
  width: 9.9%;
  min-height: 800px;
  float: left;
}
#article #affix div ul {
  margin-left: 11.2%;
}
#article #affix div ul li {
  margin-top: 2rem;
  color: #333;
}
#article #affix div ul li a {
  display: inline-block;
  width: 0.8rem;
  margin-right: 0.4rem;
}
#article #affix div ul li a img {
  max-width: 100%;
  vertical-align: middle;
}
#article #section {
  background-color: #F5F5F5;
  float: left;
  width: 83.19%;
  margin-left: 3.47%;
  min-height: 800px;
  border: 1px solid #000;
}
#article #section .section_nav {
  width: 100%;
  height: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#article #section .section_nav ul li {
  float: left;
  margin-left: 0.5rem;
}
#article #section .section_nav ul li:first-child {
  margin-left: 0;
}
#article #section .section_show_all {
  margin-top: 2rem;
  background-color: #f5f5f5;
}
#article #section .section_show_all .section_show1 .section_show1_add {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
#article #section .section_show_all .section_show1 .section_show1_add > div {
  position: absolute;
  width: 34.72%;
  height: 18.4rem;
  top: 50%;
  left: 50%;
  margin-left: -17.36%;
  margin-top: -9.2rem;
  z-index: 5;
  background-color: #fff;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem ;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div:before {
  content: " ";
  display: table;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div p {
  text-align: right;
  font-size: 0.6rem;
  color: #999;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div p:first-child {
  width: 100%;
  font-size: 0.7rem;
  color: #000;
  margin-bottom: 2rem ;
  font-weight: 900;
  text-align: center;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div div {
  width: 100%;
  margin: 0.7rem 0;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div div:after {
  content: " ";
  display: block;
  clear: both;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div div lable {
  display: inline-block;
  width: 30%;
  height: 1.5rem;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div div input {
  width: 70%;
  height: 1.5rem;
  border: 1px solid #dfdfdf;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div div textarea {
  width: 68%;
  height: 4rem;
  border: 1px solid #dfdfdf;
  vertical-align: middle;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div div a {
  display: inline-block;
  width: 74px;
  height: 1.5rem;
  background-color: #20767C;
  float: left;
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div div a:nth-child(2) {
  float: right;
}
#article #section .section_show_all .section_show1 .section_show1_add > div > div div:last-child {
  margin-top: 1rem;
}
#article #section .section_show_all .section_show1 .section_show1_add > div a.section_show1_add_bunce_minus {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
}
#article #section .section_show_all .section_show1 .section_show1_operation {
  margin-bottom: 0.4rem;
  color: #20767c;
}
#article #section .section_show_all .section_show1 .section_show1_operation:after {
  content: " ";
  display: block;
  clear: both;
}
#article #section .section_show_all .section_show1 .section_show1_operation > div {
  float: right;
}
#article #section .section_show_all .section_show1 .section_show1_operation > div ul li {
  float: left;
  margin-right: 1rem;
  cursor: pointer;
}
#article #section .section_show_all .section_show1 .section_show1_operation > div ul li img {
  margin-left: 0.5rem;
  vertical-align: middle;
}
#article #section .section_show_all .section_show1 .section_show1_operation > div ul li:last-child {
  color: red;
}
#article #section .section_show_all .section_show1 .section_show1_table table {
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
}
#article #section .section_show_all .section_show1 .section_show1_table table tr {
  border-bottom: 1px solid #eee;
  height: 2.3rem;
  text-align: left;
}
#article #section .section_show_all .section_show1 .section_show1_table table tr td {
  padding-left: 2rem;
}
#article #section .section_show_all .section_show1 .section_show1_table table tr td:last-child {
  padding-right: 1rem;
  width: 10%;
  height: 2.3rem;
  text-align: right;
}
#article #section .section_show_all .section_show1 .section_show1_table table tr td:last-child img {
  display: none;
  cursor: pointer;
}
#article #section .section_show_all .section_show1 .section_show1_table table tr td:last-child span {
  display: none;
  cursor: pointer;
}
#article #section .section_show_all .section_show1 .section_show1_table table thead {
  background-color: rgba(32, 118, 124, 0.18);
}
#article #section .section_show_all .section_show1 .section_show1_table table thead th {
  padding-left: 2rem;
}
